* {
  font-family: "Poppins", sans-serif;
}

.bg {
  background-color: #222222;
}

.card {
  background-color: #414040;
}

.text-popular {
  font-size: 32px;
}

.all-movie {
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 16.5px;
  background-color: transparent;
  border-color: transparent;
}
