.banner {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  opacity: 0, 9;
  margin-bottom: 30px;
}

.details {
  padding: 15px 50px;
  width: 45%;
  color: white;
  font-size: 20px;
  text-align: left;
  background-color: #222222;
  border-radius: 10px;
  opacity: 0.85;
}

.movieTitle {
  font-size: 50px;
  font-weight: bold;
  margin: 0 0;
  margin-bottom: 2px;
}

.movieRate {
  font-size: 20px;
}

.movieDescription {
  padding-bottom: 1px;
}

.moviePoster {
  width: 350px;
  border-radius: 10px;
  box-shadow: 10px 10px black;
  margin-top: 200px;
}

@media (max-width: 1000px) {
  .detailsPage {
    background-position: center;
    background-size: cover;
  }

  .details {
    width: 100%;
    margin-top: 300px;
  }

  .movieRelease {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .movieTitle {
    font-size: 18px;
    margin-bottom: 13px;
  }

  .movieDescription {
    font-size: 14px;
  }

  .movieGenre {
    font-size: 5px;
  }

  .movieRate {
    font-size: 17px;
  }

  .moviePoster {
    display: none;
  }
}
