.detailsPage {
  background-color: #222222;
}

figcaption {
  position: absolute;
  bottom: 5rem;
}

.banner {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  opacity: 0, 9;
  margin-bottom: 30px;
}

.details {
  padding: 15px 50px;
  width: 45%;
  color: white;
  font-size: 20px;
  text-align: left;
  height: fit-content;
  background-color: #222222;
  border-radius: 10px;
  opacity: 0.85;
}

.movieTitle {
  font-size: 50px;
  font-weight: bold;
  margin: 0 0;
  margin-bottom: 2px;
}

.movieDescription {
  padding-bottom: 1px;
}

.moviePoster {
  width: 400px;
  border-radius: 10px;
  box-shadow: 10px 10px black;
}
